<div class="md-layout-item md-small-size-100 md-size-33">
    <md-field>
        <label>[Label]</label>
        <md-input v-model.number="[fieldMin]" type="[type]" ></md-input>
    </md-field>
</div>

