<div class="md-layout-item md-small-size-100 md-size-33">
    <md-field>
        <label>[Label]</label>
        <md-select v-model="[fieldMin]">
            [ListOption]
        </md-select>
    </md-field>
</div>