import DashboardLayout from "@/pages/Layout/DashboardLayout.vue";
import Icons from "@/pages/Icons.vue";
[imports]


const routes = [
  {
    path: "/",
    component: DashboardLayout,
    redirect: "/[classNameMin]",
    children: [
      [children]
    ],
  },
];
function isAuthenticated() {
  return sessionStorage.getItem("connect") === "true";
}
export default routes;

